<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="/styles/output.css" rel="stylesheet" />
    <title>{{title}}</title>
  </head>
  <body class="bg-gray-100">
    {{#unless hideNav}}
      <nav class="bg-white shadow-lg">
        <div class="max-w-7xl mx-auto px-4">
          <div class="flex justify-between">
            <div class="flex space-x-7">
              <div>
                <a href="/" class="flex items-center py-4 px-2">
                  <span class="font-semibold text-gray-500 text-lg">IoT
                    Dashboard</span>
                </a>
              </div>
              <div class="hidden md:flex items-center space-x-1">
                <a
                  href="/devices/dashboard"
                  class="py-4 px-2 text-blue-500 border-b-4 border-blue-500 font-semibold"
                >Dashboard</a>
                <a
                  href="/devices/data-collected"
                  class="py-4 px-2 text-gray-500 font-semibold hover:text-blue-500 transition duration-300"
                >Data Collected</a>
                <a
                  href="/devices/time-chart"
                  class="py-4 px-2 text-gray-500 font-semibold hover:text-blue-500 transition duration-300"
                >Over Time Chart</a>
                <a
                  href="/devices/install"
                  class="py-4 px-2 text-gray-500 font-semibold hover:text-blue-500 transition duration-300"
                >Install Device</a>
              </div>
            </div>
            <div class="hidden md:flex items-center space-x-1">
              <a
                href="/users/login"
                class="py-4 px-2 text-gray-500 font-semibold hover:text-blue-500 transition duration-300"
              >Login</a>
              <a
                href="/users/register"
                class="py-4 px-2 text-gray-500 font-semibold hover:text-blue-500 transition duration-300"
              >Register</a>
            </div>
          </div>
        </div>
      </nav>
    {{/unless}}

    {{{body}}}

  </body>
</html>